<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>All About Mars</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">
    </head>
     <body>
         <div class="container">

                <div class="jumbotron text-center" style="background-image: url(https://images.unsplash.com/photo-1517455612269-8377057c3b55?ixlib=rb-1.2.1&auto=format&fit=crop&w=773&q=80); background-size: 50%; height: 100%;">
                    <h1 class="display-7" style="color: white">Mission to Mars</h1>
                    <a class="btn btn-lg text-white" style="background-color:black; opacity: 0.5;" href="/scrape" role="button">Scrape New Data</a>
                </div>

                <div class="container">
                        <h3>Latest Mars News</h3>
                        <h6 style="color: #c1440e">{{ data.news_title }}</h6>
                        <p>{{ data.news_paragraph }}</p>
                </div>
                <div class="container">
                    <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-12">


                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">

                            </div>
                    </div>

                </div>


         </div>
     </body>         


</html>